# Generate stores & customers for the demo

## Setup the environment

### Install packages

In [3]:
!pip install faker
!pip install pymorton
!pip install v3io
!pip install v3io_frames

Requirement already satisfied: faker in /User/.pythonlibs/lib/python3.6/site-packages (1.0.5)
Requirement already satisfied: six>=1.10 in /conda/lib/python3.6/site-packages (from faker) (1.12.0)
Requirement already satisfied: text-unidecode==1.2 in /User/.pythonlibs/lib/python3.6/site-packages (from faker) (1.2)
Requirement already satisfied: python-dateutil>=2.4 in /conda/lib/python3.6/site-packages (from faker) (2.8.0)
Requirement already satisfied: pymorton in /User/.pythonlibs/lib/python3.6/site-packages (1.0.5)
Collecting v3io
  Downloading https://files.pythonhosted.org/packages/bc/ef/9339c0420d559c32fe9016345c8993122690a9ff7f5cc402e35ce4003369/v3io-0.1.1.tar.gz
Requirement already satisfied: requests==2.21.0 in /conda/lib/python3.6/site-packages (from v3io) (2.21.0)
Requirement already satisfied: future==0.17.1 in /conda/lib/python3.6/site-packages (from v3io) (0.17.1)
Collecting ujson==1.35 (from v3io)
  Downloading https://files.pythonhosted.org/packages/16/c4/79f3409bc710559015464e5f49b9879430d8f87498ecdc335899732e5377/ujson-1.35.tar.gz (192kB)
    100% |################################| 194kB 20.7MB/s
Requirement already satisfied: idna<2.9,>=2.5 in /conda/lib/python3.6/site-packages (from requests==2.21.0->v3io) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /conda/lib/python3.6/site-packages (from requests==2.21.0->v3io) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /conda/lib/python3.6/site-packages (from requests==2.21.0->v3io) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in /conda/lib/python3.6/site-packages (from requests==2.21.0->v3io) (2019.3.9)
Building wheels for collected packages: v3io, ujson
  Running setup.py bdist_wheel for v3io ... done
  Stored in directory: /igz/.cache/pip/wheels/16/06/30/71478da3b7ae64df011a3466bcea2653a35ba3c5aa43ca1331
  Running setup.py bdist_wheel for ujson ... done
  Stored in directory: /igz/.cache/pip/wheels/28/77/e4/0311145b9c2e2f01470e744855131f9e34d6919687550f87d1
Successfully built v3io ujson
Installing collected packages: ujson, v3io
Successfully installed ujson-1.35 v3io-0.1.1
Requirement already satisfied: v3io_frames in /conda/lib/python3.6/site-packages (0.4.2)
Requirement already satisfied: googleapis-common-protos>=1.5.3 in /conda/lib/python3.6/site-packages (from v3io_frames) (1.5.9)
Requirement already satisfied: grpcio-tools>=1.16.0 in /conda/lib/python3.6/site-packages (from v3io_frames) (1.19.0)
Requirement already satisfied: requests>=2.19.1 in /conda/lib/python3.6/site-packages (from v3io_frames) (2.21.0)
Requirement already satisfied: pandas==0.23.* in /conda/lib/python3.6/site-packages (from v3io_frames) (0.23.4)
Requirement already satisfied: protobuf>=3.6.0 in /conda/lib/python3.6/site-packages (from googleapis-common-protos>=1.5.3->v3io_frames) (3.7.1)
Requirement already satisfied: grpcio>=1.19.0 in /conda/lib/python3.6/site-packages (from grpcio-tools>=1.16.0->v3io_frames) (1.19.0)
Requirement already satisfied: idna<2.9,>=2.5 in /conda/lib/python3.6/site-packages (from requests>=2.19.1->v3io_frames) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /conda/lib/python3.6/site-packages (from requests>=2.19.1->v3io_frames) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /conda/lib/python3.6/site-packages (from requests>=2.19.1->v3io_frames) (2019.3.9)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /conda/lib/python3.6/site-packages (from requests>=2.19.1->v3io_frames) (1.24.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /conda/lib/python3.6/site-packages (from pandas==0.23.*->v3io_frames) (2.8.0)
Requirement already satisfied: pytz>=2011k in /conda/lib/python3.6/site-packages (from pandas==0.23.*->v3io_frames) (2018.9)
Requirement already satisfied: numpy>=1.9.0 in /conda/lib/python3.6/site-packages (from pandas==0.23.*->v3io_frames) (1.16.2)
Requirement already satisfied: setuptools in /conda/lib/python3.6/site-packages (from protobuf>=3.6.0->googleapis-common-protos>=1.5.3->v3io_frames) (40.8.0)
Requirement already satisfied: six>=1.9 in /conda/lib/python3.6/site-packages (from protobuf>=3.6.0->googleapis-common-protos>=1.5.3->v3io_frames) (1.12.0)

### Define environment variables

In [1]:
# Stores
NUMBER_OF_STORES=500
STORES_TABLE='stores'
ACCURACY=20
BASE_ACCURACY=14

# Customers
NUMBER_OF_CUSTOMERS=3000
CUSTOMERS_TABLE='customers'
CUSTOMERS_DATA_FILE='data/trained/data_train_n.csv'

### imports

In [2]:
import logging
import os
import pickle
import random
import itertools

# Demo
import pandas as pd
import pymorton as pm
from faker import Faker
from faker.providers import BaseProvider

# DB
import v3io as v3c
import v3io_frames as v3f

### Open DB client

In [3]:
client = v3f.Client('http://'+os.getenv('V3IO_FRAMESD'))

## Generate Stores

### Location provider

In [4]:
class LocationProvider(BaseProvider):
    '''
    Creates locations within base_location

    Uses QuadTree for Geohashing
        @{http://tech.taskrabbit.com/blog/2015/06/09/elasticsearch-geohash-vs-geotree/}
        @{http://mapzen.github.io/leaflet-spatial-prefix-tree/}
        @{http://blog.notdot.net/2009/11/Damn-Cool-Algorithms-Spatial-indexing-with-Quadtrees-and-Hilbert-Curves}
    '''    
    def location(self, location_base: str, base_acc=10, acc=20):
        coordinates = location_base[:base_acc]
        for i in range(acc-len(coordinates)):
            coordinates += str(random.randint(0, 3))
        return coordinates

Add the location provider as a faker provider

In [5]:
faker = Faker()
faker.add_provider(LocationProvider)

### Define scenario environment (locations)

In [6]:
london_city = (51.514926, -0.089580)
london_city_south = (51.501593, -0.094942)
london_west = (51.512309, -0.128966)
london_south_west = (51.495022, -0.162268)

london_coordinates = []
london_coordinates.append(london_city)
london_coordinates.append(london_city_south)
london_coordinates.append(london_west)
london_coordinates.append(london_south_west)

london_coordinates_qt = list(map(lambda cooridnate: pm.interleave_latlng(*cooridnate), london_coordinates))
london_coordinates_qt

['03311311313011311011000321002320',
 '03311311311233323013031101320003',
 '03311311313010023000032330133111',
 '03311311311222300331010333220231']

### Define Store class

In [11]:
class Store(object):
    def __init__(self, store_id: int, name: str, location: str):
        self.store_id = store_id if store_id is not None else random.randint(1, int(os.genev('NUMBER_OF_STORES', 500)))
        self.location = location
        (self.lat, self.long) = pm.deinterleave_latlng(location)
        self.store_name = name
        self.customers = 0
    
    def json(self):
        json_store = {
            'id': self.store_id,
            'name': self.store_name,
            'location': self.location,
            'latitude': self.lat,
            'longitude': self.long,
            'customers': self.customers
        }
        return json_store

### Create stores

In [12]:
def create_stores(faker, number_of_stores: int=500):
    remaining = number_of_stores
    stores = []
    while remaining > 0:
        # Create stores
        stores_batch = [Store(faker.msisdn(), faker.company(), faker.location(random.choice(london_coordinates_qt), BASE_ACCURACY, ACCURACY)).json() 
              for i in range(remaining)]
        
        # Count for duplicate locations
        locations = list(map(lambda store: store['location'], stores_batch))
        locations = list(dict.fromkeys(locations))
        remaining -= len(locations)
        
        # Update stores list
        stores.append(stores_batch)

    stores = list(itertools.chain.from_iterable(stores))
    stores = pd.DataFrame.from_records(stores)
    stores = stores.set_index(['location'])
    stores = stores[~stores.index.duplicated(keep='first')]
    return stores

In [13]:
client.delete('kv', STORES_TABLE)

In [14]:
stores = create_stores(faker, NUMBER_OF_STORES)
stores.head(5)

,customers,id,latitude,longitude,name
location,,,,,
03311311313011210101,0,9707399003926,51.514893,-0.102654,Robbins Ltd
03311311313011000313,0,4557898581603,51.505623,-0.107460,"Ruiz, Clayton and Hall"
03311311311222112210,0,1149632372511,51.486053,-0.158615,Scott-King
03311311313011120200,0,3351137116309,51.510773,-0.098877,Christensen-Hanna
03311311311233232333,0,9981388292141,51.503563,-0.101967,Carey and Sons

### Upload to DB

In [15]:
# client.delete('kv', STORES_TABLE)
client.write('kv', STORES_TABLE, stores)

{'num_frames': 1, 'num_rows': 500}

In [16]:
client.read('kv', STORES_TABLE).head(5)

,customers,id,latitude,longitude,name
__name,,,,,
03311311311233300103,0.0,0989621488677,51.493263,-0.097160,"Palmer, Moreno and Anderson"
03311311311222121130,0.0,4905200115083,51.488113,-0.159988,Shaffer Group
03311311311233222300,0.0,0888654547391,51.502533,-0.108490,Wiley-Wilson
03311311311233033011,0.0,7752376244623,51.490173,-0.100594,Schultz-Kramer
03311311311233320101,0.0,2174056506575,51.498413,-0.097160,"Peters, Colon and Nash"

## Generate customers

In [14]:
class Customer(object):
    def __init__(self, id=0, location='', products=""):
        self.id = id
        self.location = location
        self.products = products
        
    def json(self):
        json_customer = {
            'id': self.id,
            'location': self.location,
            'products': self.products
        }
        return json_customer

In [15]:
def create_customers(customers_data: pd.DataFrame, number_of_customers: int):
    available_customer = list(customers_data.user_id)
    customers = [Customer(id=i,
                          products=customers_data.loc[customers_data['user_id'] == random.choice(available_customer)]\
                                    .drop(['user_id', 'Unnamed: 0'], axis=1)\
                                    .to_json()).json() for i in range(number_of_customers)]
    customers = pd.DataFrame.from_records(customers)
    customers.set_index(['id'])
    return customers

In [17]:
# Load customers seed data
customers_data = pd.read_csv(CUSTOMERS_DATA_FILE)

# Create actual customers
customers = create_customers(customers_data, NUMBER_OF_CUSTOMERS)
customers.head(5)

   id location                                           products
0   0           {"user_product_reordered_ratio":{"7529":1.0,"4...
1   1           {"user_product_reordered_ratio":{"46294":1.0,"...
2   2           {"user_product_reordered_ratio":{"272":1.0,"65...
3   3           {"user_product_reordered_ratio":{"174254":1.0,...
4   4           {"user_product_reordered_ratio":{"272892":1.0,...

## Upload to DB

In [24]:
# client.delete('kv', CUSTOMERS_TABLE)
client.write('kv', CUSTOMERS_TABLE, customers)

Error: cannot call API - write error: can't wait for completion: Failed PUT with status 400

In [22]:
client.read('kv', CUSTOMERS_TABLE).shape

(2985, 3)

## Generate predictions

In [22]:
client.create('tsdb', 'predictions', attrs={'rate': '1/s'})