# Using Iguazio Frames Library for High-Performance Data Access 
iguazio `v3io_frames` is a streaming oriented multi-model (generic) data API which allow high-speed data loading and storing<br>
frames currently support iguazio key/value, time-series, and streaming data models (called backends), additional backends will be added

to use frames you first create a `client` and provide it the session and credential details, the client is used to to for 5 basic operations:
```
   create  - create a new key/value or time-series table or stream 
   delete  - delete the table or stream
   read    - read data from the backend (as pandas DataFrame or dataFrame iterator)
   write   - write one or more DataFrames into the backend
   execute - execute a command on the backend, each backend may support multiple commands 
```   

Content:
- [Working with key/value and SQL data](kv)
- [Working with Time-series data](#tsdb)
- [Working with Streams](#stream)

The following sections describe how to use frames, for more help and details use the internal documentation, e.g. run the following command
```  client.read?```

In [126]:
import pandas as pd
import v3io_frames as v3f
import os
client = v3f.Client('framesd:8081', container='users', password=os.getenv('V3IO_PASSWORD'))

<a id='kv'></a>
## Working with key/value and SQL data

### Load data from Amazon S3

In [127]:
# read S3 file into a data frame and show its data & metadata
tablename = os.path.join(os.getenv('V3IO_USERNAME')+'/examples/bank')
df = pd.read_csv('https://s3.amazonaws.com/iguazio-sample-data/bank.csv', sep=';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

### Write data frames into the database using a single command
data is streamed into the database via fast NoSQL APIs, note the backend is `kv`<br>
the input data can be a single dataframe or a dataframe iterator (for streaming)

In [128]:
out = client.write('kv', tablename, df)

### Read from the Database with DB side SQL
offload data filtering, grouping, joins, etc to a scale-out high speed DB engine<br>
Note that we're using a V3IO_USERNAME as environment variable as therefore we need to define the string for the "From" section<br>
The from convention is select * from v3io.<data container>."path"

In [130]:
table_path = os.path.join('v3io.users."'+os.getenv('V3IO_USERNAME')+'/examples/bank"')
%sql select * from $table_path where balance > 10000

 * presto://iguazio:***@presto-api-presto.default-tenant.app.dev34.lab.iguazeng.com:443/v3io?protocol=https
Done.

[('no', 'secondary', 0, 'no', 'unknown', 219, 'married', 'no', 26452, 'jul', 'telephone', 2, 'no', 'retired', 15, 75, -1),
 ('no', 'secondary', 0, 'yes', 'unknown', 249, 'married', 'no', 19317, 'aug', 'cellular', 1, 'yes', 'retired', 4, 68, -1)]

### Read the data through frames API
the frames API returns a dataframe or a dataframe iterator (a stream)<br>

In [131]:
df = client.read(backend='kv', table=tablename, filter="balance>20000")
df.head(8)

,poutcome,loan,default,previous,education,balance,day,age,campaign,month,contact,duration,pdays,job,housing,marital,y
__name,,,,,,,,,,,,,,,,,
75,unknown,no,no,0.0,secondary,26452.0,15.0,75.0,2.0,jul,telephone,219.0,-1.0,retired,no,married,no

### Read the data as a stream iterator
to use iterator and allow cuncurent data movement and processing add `iterator=True`, you will need to iterate over the returned value or use `concat`
iterators work with all backends (not just stream), they allow streaming when placed as an input to write functions which support iterators as input

In [132]:
dfs = client.read(backend='kv', table=tablename, filter="balance>20000", iterator=True)
for df in dfs:
    print(df.head())

        previous loan poutcome housing  campaign  pdays  duration    contact  \
__name
75           0.0   no  unknown      no       2.0   -1.0     219.0  telephone

         day  marital default  education  balance month   y   age      job
__name
75      15.0  married      no  secondary  26452.0   jul  no  75.0  retired

### Batch updates with expression
in many cases we want to update specific column values or update a column using an expression (e.g. counter = counter + x)<br>
when using the key/value backend it can run an expression against each of the rows (specified in the index), and use the dataframe columns as parameters<br>
columns are specified using `{}`, e.g. specifing `expression="packets=packets+{pkt};bytes=bytes+{bytes};last_update={mytime}"` will add the data in `pkt` and `bytes` column from the input dataframe to the `packets` and `bytes` columns in the row and set the `last_update` field to `mytime`. the rows are selected based on the input dataframe index

In [133]:
# example: creating a new column which reflect the delta between the old `balance` column and the one provided in df (should result in 0 since df didnt change)
out = client.write('kv', tablename, df, expression='balance_delta=balance-{balance}')

### Making a single row update using execute command
The use of `condition` is optional and allow to implement safe/conditional transactions

In [134]:
client.execute('kv',tablename,'update', args={'key':'44', 'expression': 'age=44', 'condition':'balance>0'})

Empty DataFrame
Columns: []
Index: []

### Delete the table
note: in kv (NoSQL) tabels there is no need to create a table before using it

In [135]:
client.delete('kv',table=tablename)

<a id='tsdb'></a>
## Working with time-series data

In [ ]:
# create a time series table, rate specifies the typical ingestion rate (e.g. one sample per minute)
client.create(backend='tsdb', table=os.path.join(os.getenv('V3IO_USERNAME')+'/examples/tsdb_tab'),attrs={'rate':'1/m'})
tsdb_table = os.path.join(os.getenv('V3IO_USERNAME')+'/examples/tsdb_tab')

In [137]:
# create sample time-series data
import numpy as np
from datetime import datetime, timedelta
end = datetime.now().replace(minute=0, second=0, microsecond=0)
rng = pd.date_range(end=end, periods=60, freq='300s', tz='EST')
df = pd.DataFrame(np.random.randn(len(rng), 3), index=rng, columns=['cpu','mem','disk'])
df = df.cumsum()
print(df.info(), df.head())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 60 entries, 2019-02-26 03:05:00-05:00 to 2019-02-26 08:00:00-05:00
Freq: 300S
Data columns (total 3 columns):
cpu     60 non-null float64
mem     60 non-null float64
disk    60 non-null float64
dtypes: float64(3)
memory usage: 1.9 KB
None                                 cpu       mem      disk
2019-02-26 03:05:00-05:00 -0.987708  0.586188 -1.444869
2019-02-26 03:10:00-05:00 -2.234208 -0.146447 -3.408857
2019-02-26 03:15:00-05:00 -0.804080  0.127558 -4.755681
2019-02-26 03:20:00-05:00 -1.424333  1.120902 -2.566916
2019-02-26 03:25:00-05:00 -1.795256  2.649633 -2.643786

### Write to the time-series DB
The time series DB has a time based index and additional sub indexes called labels<br>
labels can be specified in two ways:
* Using the `labels` parameters which will add the specified labels to each row/sample<br>
* Using multi-index, all non time index columns are automatically converted to labels

if your DataFrame doesnt contain multi-index and you wish to use specific columns as time-series labels you should convert the columns to indexes using:<br>
```python
    df.index.name='time'                              # in case the index column is un-named 
    df.reset_index(level=0, inplace=True)    
    df = df.set_index(['time','symbol','exchange'])   # e.g. convert the specified columns to indexes 
```

Note: you can use both (multi-index and labels) together, the labels will be the aggregation of both

In [138]:
#client.write(backend='tsdb', table=os.path.join(os.getenv('V3IO_USERNAME')+'/examples/tsdb_tab'),dfs=df, labels={'node':'11'})
client.write(backend='tsdb', table=tsdb_table,dfs=df, labels={'node':'11'})

### Read from the time-series DB

In [139]:
tsmetrics = client.read(backend='tsdb', table=tsdb_table, step='10m', aggragators='avg,max,count',start="now-5h", end='now')

In [ ]:
pvt = tsmetrics.pivot_table('values',['Date','node'],['metric_name','Aggregate'])
pvt.head(15)

In [ ]:
%matplotlib inline
pvt.plot(figsize=[15,4])

### Delete the table

In [140]:
client.delete('tsdb',tsdb_table)

<a id='stream'></a>
## Working with streams
iguazio platform support streams which have AWS Kinesis like API, they can be accessed from the notebook as if they were a structured stream (currently assume the structure is serialized through `JSON`. streams can be accessed in a bulk, or preferably using an iterator.<br>
Streams must be first created, users can specify the number of shards and retention period when creating the stream.

In [141]:
strm = os.path.join(os.getenv('V3IO_USERNAME')+'/examples/somestream')
client.create(backend='stream', table=strm,attrs={'retention_hours':48,'shards':1})

In [142]:
# write data into a stream
def gendf():
    end = datetime.now().replace(minute=0, second=0, microsecond=0)
    rng = pd.date_range(end=end, periods=60, freq='300s', tz='Israel')
    df = pd.DataFrame(np.random.randn(len(rng), 3), index=rng, columns=['cpu', 'mem', 'disk'])
    return df

client.write('stream', strm, gendf())

### Reading from a stream
the stream read operation need to specify the seek method and parameters (each seek method may have different parameters) as listed below:
```
   earliest   - start from the earliest point in the stream (no params)
   latest     - start from the latest, i.e. show only new records
   time       - start from a point in time, specify the start param e.g. start='now-1d'
   sequence   - start from a specific sequence number, specify the sequence param e.g. sequence=45
```

In [143]:
dfs = client.read('stream', strm,seek='earliest', shard_id='0', iterator=True)
for df in dfs:
    print(df.head(4))

                disk               index-0       mem  \
seq_number
1           0.873921  2019-02-26T01:05:00Z -0.437095
2           1.280500  2019-02-26T01:10:00Z  0.414406
3           1.628355  2019-02-26T01:15:00Z -0.281881
4           0.867258  2019-02-26T01:20:00Z  1.835512

                             stream_time       cpu
seq_number
1          2019-02-26 08:40:07.423605745 -1.082975
2          2019-02-26 08:40:07.423605745 -0.592713
3          2019-02-26 08:40:07.423605745  0.964310
4          2019-02-26 08:40:07.423605745  1.819607

### Push a single record update to a stream
In some cases it is more conviniant to just push a buffer into a stream, for that use the execute `put` command <br>
put accepts the `data` arg and two optional parameters (`clientinfo` for some extra info and `partition` if you want to specify the shard id)

In [144]:
client.execute('stream', strm, 'put', args={'data': 'abcd', 'clientinfo': '123'})

Empty DataFrame
Columns: []
Index: []

### Delete the stream

In [145]:
client.delete('stream',strm)