# Working with Spark
Spark users can access files, tables or streams stored on iguazio data platform through the native spark Dataframe interfaces. <br>
iguazio drivers for Spark implement the data-source API and allow `predicate push down` (the queries pass to iguazio database which only return the relevant data), this allow accelerated and high-speed access from Spark to data stored in iguazio DB. for more details read [Spark API documentation]()

## loading a file from AWS S3 into iguazio file system

In [47]:
%%sh 
mkdir -p /v3io/${V3IO_HOME}/examples
curl -L "iguazio-sample-data.s3.amazonaws.com/2018-03-26_BINS_XETR08.csv" > /v3io/${V3IO_HOME}/examples/stocks.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  861k  100  861k    0     0   662k      0  0:00:01  0:00:01 --:--:--  663k

## Initiating a Spark session

In [48]:
import os
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Working with Spark notebook").getOrCreate()

# Data Source
To use the Iguazio Spark connector to read or write NoSQL data in the platform, use the format method to set the DataFrame’s data-source format to the platform’s custom NoSQL data source — "io.iguaz.v3io.spark.sql.kv". See the following read and write examples:

## Read the csv file using Spark DF
You can use the custom NoSQL DataFrame inferSchema read option to automatically infer the schema of the read table from its contents.

In [49]:
file_path=os.path.join(os.getenv('V3IO_HOME_URL')+'/examples')

df = spark.read.option("header", "true").csv(os.path.join(file_path)+'/stocks.csv')
df.show()

+------------+--------+--------------------+------------+--------+----------+----------+-----+----------+--------+--------+--------+------------+--------------+
|        ISIN|Mnemonic|        SecurityDesc|SecurityType|Currency|SecurityID|      Date| Time|StartPrice|MaxPrice|MinPrice|EndPrice|TradedVolume|NumberOfTrades|
+------------+--------+--------------------+------------+--------+----------+----------+-----+----------+--------+--------+--------+------------+--------------+
|CH0038389992|    BBZA|BB BIOTECH NAM.  ...|Common stock|     EUR|   2504244|2018-03-26|08:00|      56.4|    56.4|    56.4|    56.4|         320|             4|
|CH0038863350|    NESR|NESTLE NAM.      ...|Common stock|     EUR|   2504245|2018-03-26|08:00|     63.04|   63.06|      63|   63.06|         314|             3|
|LU0378438732|    C001|COMSTAGE-DAX UCIT...|         ETF|     EUR|   2504271|2018-03-26|08:00|    113.42|  113.42|  113.42|  113.42|         100|             1|
|LU0411075020|    DBPD|XTR.SHORTDAX X2 D...|         ETF|     EUR|   2504272|2018-03-26|08:00|    4.1335|  4.1335|  4.1295|    4.13|      102993|             8|
|LU0838782315|    XDDX|   XTR.DAX INCOME 1D|         ETF|     EUR|   2504277|2018-03-26|08:00|    105.14|   105.2|  105.14|   105.2|         239|             3|
|DE000A0DJ6J9|     S92|SMA SOLAR TECHNOL.AG|Common stock|     EUR|   2504287|2018-03-26|08:00|     55.65|   55.65|   55.65|   55.65|         543|             3|
|DE000A0D6554|    NDX1|      NORDEX SE O.N.|Common stock|     EUR|   2504290|2018-03-26|08:00|     8.182|    8.21|   8.174|    8.21|       10941|             8|
|DE000A0F5UE8|    EXXU|IS.DJ CHINA OFFS....|         ETF|     EUR|   2504302|2018-03-26|08:00|     47.52|   47.52|   47.52|   47.52|         420|             1|
|DE000A0HN5C6|    DWNI|DEUTSCHE WOHNEN S...|Common stock|     EUR|   2504314|2018-03-26|08:00|      36.2|   36.24|    36.2|   36.24|         580|             5|
|DE000A0LD2U1|     AOX|ALSTRIA OFFICE RE...|Common stock|     EUR|   2504379|2018-03-26|08:00|     12.25|   12.25|   12.25|   12.25|        1728|             3|
|DE000A0LR936|     ST5|           STEICO SE|Common stock|     EUR|   2504382|2018-03-26|08:00|     22.35|   22.35|   22.35|   22.35|         334|             1|
|DE000A0MZ4B0|     DLX|DELIGNIT AG      ...|Common stock|     EUR|   2504390|2018-03-26|08:00|      10.3|    10.3|    10.3|    10.3|         850|             1|
|DE000A0Q8NC8|    ETLX|ETFS DAXGL.G.MIN....|         ETF|     EUR|   2504397|2018-03-26|08:00|    17.844|  17.844|  17.838|  17.838|        3085|             5|
|DE000A0V9YU8|    4RT3|ETFS COM.SEC.DZ08...|         ETC|     EUR|   2504421|2018-03-26|08:00|    5.8895|  5.8895|  5.8895|  5.8895|           0|             1|
|DE000A0WMPJ6|    AIXA|  AIXTRON SE NA O.N.|Common stock|     EUR|   2504428|2018-03-26|08:00|      16.8|    16.8|   16.75|  16.755|        3329|             8|
|DE000A0Z2XN6|     RIB|RIB SOFTWARE SE  ...|Common stock|     EUR|   2504436|2018-03-26|08:00|     24.66|   24.66|   24.52|   24.52|       11741|            29|
|DE000A0Z2ZZ5|    FNTN|  FREENET AG NA O.N.|Common stock|     EUR|   2504438|2018-03-26|08:00|     24.41|   24.42|   24.41|   24.42|         695|             6|
|DE000A1A6V48|     KSC|      KPS AG NA O.N.|Common stock|     EUR|   2504441|2018-03-26|08:00|      9.15|    9.15|    9.15|    9.15|          73|             1|
|DE000A1DAHH0|     BNR| BRENNTAG AG NA O.N.|Common stock|     EUR|   2504453|2018-03-26|08:00|     48.14|   48.14|   48.14|   48.14|         185|             2|
|DE000A1EWWW0|     ADS|   ADIDAS AG NA O.N.|Common stock|     EUR|   2504471|2018-03-26|08:00|     196.3|  196.35|   196.3|  196.35|         591|            12|
+------------+--------+--------------------+------------+--------+----------+----------+-----+----------+--------+--------+--------+------------+--------------+
only showing top 20 rows

## Writing the spark DF into a table in Iguazio DB
Specify the path to the NoSQL table that is associated with the DataFrame as a fully qualified path of the format v3io://container name/data path —
where container name is the name of the table’s parent container, and data path is the path to the data within the specified container

In [50]:
# specify the DB index key using the key option (note the key must be unique)
df.write.format("io.iguaz.v3io.spark.sql.kv").mode("append").option("key", "ISIN").option("allow-overwrite-schema", "true").save(os.path.join(file_path)+'/stocks_tab/')

## Reading a table via Spark DF

In [51]:
spark.read.format("io.iguaz.v3io.spark.sql.kv").load(os.path.join(file_path)+'/stocks_tab').show()

+------------+--------+--------------------+------------+--------+----------+----------+-----+----------+--------+--------+--------+------------+--------------+
|        ISIN|Mnemonic|        SecurityDesc|SecurityType|Currency|SecurityID|      Date| Time|StartPrice|MaxPrice|MinPrice|EndPrice|TradedVolume|NumberOfTrades|
+------------+--------+--------------------+------------+--------+----------+----------+-----+----------+--------+--------+--------+------------+--------------+
|DE0007461006|     TPE|   PVA TEPLA AG O.N.|Common stock|     EUR|   2505100|2018-03-26|08:30|      16.9|    16.9|    16.9|    16.9|         638|             2|
|DE0008232125|     LHA|LUFTHANSA AG VNA ...|Common stock|     EUR|   2505130|2018-03-26|08:00|      25.6|   25.64|    25.6|   25.64|        3963|             7|
|DE000A1681X5|     SNG|SINGULUS TECHNOL....|Common stock|     EUR|   2504610|2018-03-26|08:01|     12.78|   12.78|   12.76|   12.76|         467|             2|
|FR0010527275|    LYM8|LYX.WORLD WATER U...|         ETF|     EUR|   2505248|2018-03-26|08:01|     34.06|   34.06|   34.06|   34.06|         100|             1|
|IE00B910VR50|    ZPRE|SPDR MSCI EMU UCI...|         ETF|     EUR|   2505791|2018-03-26|08:31|     46.85|  46.855|   46.85|  46.855|        2677|             2|
|DE0005313704|     AFX|CARL ZEISS MEDITE...|Common stock|     EUR|   2504922|2018-03-26|08:00|      50.2|    50.2|    50.2|    50.2|         164|             2|
|DE000A0KEXC7|     V3S|VECTRON SYSTEMS  ...|Common stock|     EUR|   2504348|2018-03-26|08:14|     22.55|   22.55|   22.55|   22.55|          40|             1|
|DE0005118806|     TGT|11 88 0 SOLUTIONS AG|Common stock|     EUR|   2504886|2018-03-26|08:12|     1.085|   1.085|   1.085|   1.085|        1200|             1|
|LU0659580079|    XMK9|XTR.MSCI JAPAN 4CEOH|         ETF|     EUR|   2506044|2018-03-26|08:04|     20.08|   20.08|  20.079|  20.079|        3729|             2|
|US0846707026|    BRYN|BERKSH. H.B NEW D...|Common stock|     EUR|   2506447|2018-03-26|08:00|    157.89|  157.99|  157.89|  157.89|         200|             3|
|IE00BQN1K901|    CEMS|ISHSIV-E.MSCI EUR...|         ETF|     EUR|   2505478|2018-03-26|08:11|     5.624|   5.627|   5.624|   5.624|         105|             2|
|DE000A2GS5D8|     DMP|DERMAPHARM HLDG I...|Common stock|     EUR|   2984169|2018-03-26|08:35|    25.465|  25.465|  25.465|  25.465|          26|             1|
|DE0005140008|     DBK|DEUTSCHE BANK AG ...|Common stock|     EUR|   2504888|2018-03-26|08:00|     11.28|  11.284|  11.268|  11.284|       99093|            62|
|DE0006289309|    EXX1|ISHS ESTXX BNKS.3...|         ETF|     EUR|   2505027|2018-03-26|08:03|    12.068|   12.07|  12.066|   12.07|       16274|             4|
|US0727303028|    BAYA|      BAYER ADR /1/4|Common stock|     EUR|   2506445|2018-03-26|08:07|      22.6|    22.6|    22.6|    22.6|           2|             1|
|US3696041033|     GEC|GENL EL. CO.     ...|Common stock|     EUR|   2506492|2018-03-26|08:21|     10.72|   10.72|   10.72|   10.72|         300|             1|
|US0231351067|     AMZ|AMAZON.COM INC.  ...|Common stock|     EUR|   2506427|2018-03-26|08:00|      1230| 1231.88|    1230| 1231.88|           8|             2|
|DE000A1H8MU2|     ADD|ADLER MODEMAERKTE...|Common stock|     EUR|   2504475|2018-03-26|08:29|       5.1|     5.1|     5.1|     5.1|         944|             1|
|DE0005664809|     EVT|      EVOTEC AG O.N.|Common stock|     EUR|   2504963|2018-03-26|08:00|     15.93|   15.93|  15.895|  15.895|         484|             2|
|DE0007274136|    STO3|STO SE+CO.KGAA VZ...|Common stock|     EUR|   2505092|2018-03-26|08:29|     114.6|   114.6|   114.6|   114.6|          62|             1|
+------------+--------+--------------------+------------+--------+----------+----------+-----+----------+--------+--------+--------+------------+--------------+
only showing top 20 rows

## Writing to Parquet

In [ ]:
df.write.parquet(os.path.join(file_path)+'/stocks_tab.parquet')

## Table Schema-Overwrite Examples
The following example creates a table named mytable with AttrA and AttrB attributes of type string and an AttrC attribute of type long, and then overwrites the table schema to change the type of AttrC to double:

In [53]:
df = spark.createDataFrame([
    ("a", "z", 123),
    ("b", "y", 456)
], ["AttrA", "AttrB", "AttrC"])
df.write.format("io.iguaz.v3io.spark.sql.kv") \
    .mode("overwrite") \
    .option("key", "AttrA") \
    .save(os.path.join(file_path)+'/mytable/')
    
df = spark.createDataFrame([
    ("c", "x", 32.12),
    ("d", "v", 45.2)
], ["AttrA", "AttrB", "AttrC"])
df.write.format("io.iguaz.v3io.spark.sql.kv") \
    .mode("append") \
    .option("key", "AttrA") \
    .option("allow-overwrite-schema", "true") \
    .save(os.path.join(file_path)+'/mytable/')

## Creating a partition table

This examples creates a partitioned “weather” table  The option("partition", "year, month, day") write option partitions the table by the year, month, and day item attributes. As demonstrated in the following image, if you browse the container in the dashboard after running the example, you’ll see that the weather directory has year=<value>/month=<value>/day=<value> partition directories that match the written items. If you select any of the nested day partition directories, you can see the written items and their attributes. For example, the first item (with attribute values 2016, 3, 25, 6, 16, 0.00, 55) is saved to a 20163256 file in a weather/year=2016/month=3/day=25 partition directory.

In [54]:
from pyspark.sql.functions import concat

table_path = os.path.join(os.getenv('V3IO_HOME_URL')+'/examples/weather/')

df = spark.createDataFrame([
    (2016,  3, 25, 17, 18, 0.2, 62),
    (2016,  7, 24,  7, 19, 0.0, 52),
    (2016, 12, 24,  9, 10, 0.1, 47),
    (2017,  5,  7, 14, 21, 0.0, 70),
    (2017, 11,  1, 10, 15, 0.0, 34),
    (2017, 12, 12, 16, 12, 0.0, 47),
    (2017, 12, 24, 17, 11, 1.0, 50),
    (2018,  1, 18, 17, 10, 2.0, 45),
    (2018,  5, 20, 21, 20, 0.0, 59),
    (2018, 11,  1, 11, 11, 0.1, 65)
], ["year", "month", "day", "hour", "degrees_cel", "rain_ml", "humidity_per"])
df_with_key = df.withColumn(
    "time", concat(df["year"], df["month"], df["day"], df["hour"]))
df_with_key.write.format("io.iguaz.v3io.spark.sql.kv") \
    .mode("overwrite") \
    .option("key", "time") \
    .option("partition", "year, month, day, hour") \
    .save(table_path)

## Reading from partition table
Following is the output of the example’s show commands for each read. The filtered results are gathered by scanning only the partition directories that match the filter criteria.

### Full table read

In [55]:
readDF = spark.read.format("io.iguaz.v3io.spark.sql.kv").load(table_path)
readDF.show()

+----+-----+---+----+-----------+-------+------------+----------+
|year|month|day|hour|degrees_cel|rain_ml|humidity_per|      time|
+----+-----+---+----+-----------+-------+------------+----------+
|2016|   12| 24|   9|         10|    0.1|          47| 201612249|
|2016|    3| 25|  17|         18|    0.2|          62| 201632517|
|2016|    7| 24|   7|         19|    0.0|          52|  20167247|
|2017|   11|  1|  10|         15|    0.0|          34| 201711110|
|2017|   12| 12|  16|         12|    0.0|          47|2017121216|
|2017|   12| 24|  17|         11|    1.0|          50|2017122417|
|2017|    5|  7|  14|         21|    0.0|          70|  20175714|
|2018|    1| 18|  17|         10|    2.0|          45| 201811817|
|2018|   11|  1|  11|         11|    0.1|          65| 201811111|
|2018|    5| 20|  21|         20|    0.0|          59| 201852021|
+----+-----+---+----+-----------+-------+------------+----------+

### month < 7 filter — retrieve all data for the first six months of each year:

In [56]:
readDF = spark.read.format("io.iguaz.v3io.spark.sql.kv").load(table_path) \
    .filter("month > 6")
readDF.show()

+----+-----+---+----+-----------+-------+------------+----------+
|year|month|day|hour|degrees_cel|rain_ml|humidity_per|      time|
+----+-----+---+----+-----------+-------+------------+----------+
|2016|   12| 24|   9|         10|    0.1|          47| 201612249|
|2016|    7| 24|   7|         19|    0.0|          52|  20167247|
|2017|   11|  1|  10|         15|    0.0|          34| 201711110|
|2017|   12| 12|  16|         12|    0.0|          47|2017121216|
|2017|   12| 24|  17|         11|    1.0|          50|2017122417|
|2018|   11|  1|  11|         11|    0.1|          65| 201811111|
+----+-----+---+----+-----------+-------+------------+----------+

### month == 12 AND day == 24 filter — retrieve all hours on Dec 24 each year:

In [57]:
readDF = spark.read.format("io.iguaz.v3io.spark.sql.kv").load(table_path) \
    .filter("month == 12 AND day == 24")
readDF.show()

+----+-----+---+----+-----------+-------+------------+----------+
|year|month|day|hour|degrees_cel|rain_ml|humidity_per|      time|
+----+-----+---+----+-----------+-------+------------+----------+
|2016|   12| 24|   9|         10|    0.1|          47| 201612249|
|2017|   12| 24|  17|         11|    1.0|          50|2017122417|
+----+-----+---+----+-----------+-------+------------+----------+

### month > 6 AND hour >= 8 AND hour <= 20 filter — retrieve 08:00–20:00 data for every day in the last six months of each year:

In [58]:

readDF = spark.read.format("io.iguaz.v3io.spark.sql.kv").load(table_path) \
    .filter("month < 7 AND hour >= 8 AND hour <= 20")
readDF.show()

+----+-----+---+----+-----------+-------+------------+---------+
|year|month|day|hour|degrees_cel|rain_ml|humidity_per|     time|
+----+-----+---+----+-----------+-------+------------+---------+
|2016|    3| 25|  17|         18|    0.2|          62|201632517|
|2017|    5|  7|  14|         21|    0.0|          70| 20175714|
|2018|    1| 18|  17|         10|    2.0|          45|201811817|
+----+-----+---+----+-----------+-------+------------+---------+

## Conditional update
This example demonstrates how to conditionally update NoSQL table items by using the condition write option. Each write call in the example is followed by matching read and show calls to read and display the value of the updated item in the target table after the write operation.

The first write command writes an item (row) to a “cars” table . The item’s reg_license primary-key (identity-column) attribute is set to 7843321, the mode attribute is set to “Honda”, and the odometer attribute is set to 29321. The overwrite save mode is used to overwrite the table if it already exists and create it otherwise. Reading the item from the table produces this output:

In [59]:
writeDF = spark.createDataFrame([("7843321", "Honda", 29321)],
                                ["reg_license", "model", "odometer"])
writeDF.write.format("io.iguaz.v3io.spark.sql.kv") \
    .option("key", "reg_license") \
    .mode("overwrite").save("v3io://users/iguazio/examples/cars/")
readDF = spark.read.format("io.iguaz.v3io.spark.sql.kv") \
    .load(os.path.join(file_path)+'/cars/')
readDF.show()

writeDF = spark.createDataFrame([("7843321", "Honda", 31718)],
                                ["reg_license", "model", "odometer"])
writeDF.write.format("io.iguaz.v3io.spark.sql.kv") \
    .option("key", "reg_license") \
    .option("condition", "${odometer} > odometer") \
    .mode("append").save("v3io://users/iguazio/examples/cars/")
readDF = spark.read.format("io.iguaz.v3io.spark.sql.kv") \
    .load(os.path.join(file_path)+'/cars/')
readDF.show()

+-----------+-----+--------+
|reg_license|model|odometer|
+-----------+-----+--------+
|    7843321|Honda|   29321|
+-----------+-----+--------+

+-----------+-----+--------+
|reg_license|model|odometer|
+-----------+-----+--------+
|    7843321|Honda|   31718|
+-----------+-----+--------+

# Using SQL queries (using Presto)
## Reading the stock_tab table using SQL after being written by Spark DF

In [60]:
table_path = os.path.join('v3io.users."'+os.getenv('V3IO_USERNAME')+'/examples/stocks_tab"')
%sql select * from $table_path where securitytype ='ETF' and isin like 'LU06%'

 * presto://iguazio:***@presto-api-presto.default-tenant.app.dev34.lab.iguazeng.com:443/v3io?protocol=https
Done.

[('XTR.MSCI JAPAN 4CEOH', 'ETF', '08:04', 'LU0659580079', '20.079', '2018-03-26', '20.079', '2', 'XMK9', 'EUR', '2506044', '20.08', '3729', '20.08'),
 ('COMSTAGE-DIVDAX U.ETF I', 'ETF', '08:04', 'LU0603933895', '29.24', '2018-03-26', '29.24', '1', 'C003', 'EUR', '2504275', '29.24', '35', '29.24'),
 ('UBS-ETF-MSCI EMU S.C.EOAD', 'ETF', '08:33', 'LU0671493277', '100.2', '2018-03-26', '100.2', '1', 'UEFD', 'EUR', '2506045', '100.2', '180', '100.2'),
 ('UBS-ETF-MSCI WLD.S.R.DLAD', 'ETF', '08:55', 'LU0629459743', '72.57', '2018-03-26', '72.57', '1', 'UIMM', 'EUR', '2506031', '72.57', '1080', '72.57'),
 ('COMST.-F.A.Z.IDX U.ETF I', 'ETF', '08:55', 'LU0650624025', '27.495', '2018-03-26', '27.495', '1', 'C006', 'EUR', '2506038', '27.495', '431', '27.495'),
 ('XTR.MSCI PAKIST.SWAP 1CDL', 'ETF', '08:04', 'LU0659579147', '1.5438', '2018-03-26', '1.5438', '1', 'XBAK', 'EUR', '2506041', '1.5438', '32388', '1.5438'),
 ('UBS E.-MSCI EMU S.R.EOAD', 'ETF', '08:56', 'LU0629460675', '88.42', '2018-03-26', '88.42', '1', 'UIMR', 'EUR', '2506033', '88.42', '114', '88.42'),
 ('COMS.-MSCI EM.M.T.U.ETF I', 'ETF', '08:11', 'LU0635178014', '42.233', '2018-03-26', '42.233', '1', 'E127', 'EUR', '2506035', '42.233', '46', '42.233'),
 ('COMST.-SH.DAX TR U.ETF I', 'ETF', '08:03', 'LU0603940916', '23.75', '2018-03-26', '23.75', '1', 'C004', 'EUR', '2504276', '23.75', '1200', '23.75')]

# Remove Data
When you are done - cleaning the directory will be done by running the following:

In [61]:
# unmark the comment
# !rm -rf $HOME/examples/*

In order to release compute and memory resources taken by spark we recommend running the following command

In [62]:
spark.stop()